[2020-12-15 20:36] redhatrises opened #8 "Suggest repo rename"
Rather than having a single repo per role, I think it makes sense to update this repo name to `ansible_collection_crowdstrike` at a minimum... maybe to `ansible_collection_crowdstrike_falcon` at most if we are only going to do falcon ansible roles.

[2020-12-15 20:42] shawndwells commented on #8
``ansible_collection_crowdstrike`` seems ideal, so we can grow into providing content for CSPM and CWP and Preempt and whatever else is next. Made you repo admin to make the change.

[2020-12-16 17:03] redhatrises commented on #8
This is now done. CLosing

[2020-12-16 17:03] #8 closed

[2020-12-17 21:08] shawndwells opened #10 "Add Gabe / redhatrises to CrowdStrike Ansible Galaxy"

[2020-12-17 21:08] shawndwells commented on #10
Added to admin, cc @redhatrises

![image](https://user-images.githubusercontent.com/5713754/102543974-19efbc80-4082-11eb-8543-05e7e359c91e.png)

[2020-12-17 21:08] #10 closed

[2020-12-18 23:28] redhatrises opened #12 "GPG Key file download"
Need to be able to download and install the gpg key from the api. Some Linux Oses default to having gpgcheck on.

[2020-12-19 02:46] shawndwells commented on #12
Paging @jshcodes or @crowdstrikedcs. Is this possible?

[2020-12-19 03:22] crowdstrikedcs commented on #12
Looks like we only keep the key in the UI. Sounds like we should reach out on that. But we could stage it on git and download it at install.

On Dec 18, 2020, at 21:47, Shawn Wells <notifications@github.com> wrote:

﻿

Paging @jshcodes [github.com]<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jshcodes&d=DwMCaQ&c=08AGY6txKsvMOP6lYkHQpPMRA1U6kqhAwGa8-0QCg3M&r=9okQcjbCccFttQdexKXlV

[2020-12-19 05:05] jshcodes commented on #12
If we can get it we can install it.  Are they logged into the API or do we have creds in this scenario?  (I have a variation in a bootstrap that pulls from the API...)

[2020-12-21 17:31] redhatrises opened #16 "Architecture key/value in API"
Need an OS architecture key/value pair in the API for sensor file downloads. This is to handle cases where, for example, we have an rpm for both 64-bit and ARM for Amazon Linux. A recommendation key/value pair would be:

[code]

Or for ARM:

[code]

The current invocation makes it harder to query for architecture specific downloads.

[2020-12-21 21:36] crowdstrikedcs commented on #12
We're looking to get this right?  (Falcon Linux Sensor RPM Signing, GPG Key). It's not in the API as far as i know. I was thinking we could just stage it in the repo.

[2020-12-22 03:13] jshcodes commented on #12
Works for me! ( and is easier :grin: )

[2021-01-05 16:52] redhatrises commented on #12
Keeping it in GIT is a temporary solution and is not ideal in case the keys ever are updated or regenerated. It would be way better for everything to be accessible through the API. So, long term we need to enable the API to be able to access "other downloads" as this is good UX. In general, the Falcon UI should be accessing the API calls for each action itself, so if there is someone I need to pus

[2021-01-05 17:19] crowdstrikedcs commented on #12
Checking with API team on this. Will you send other use cases as well.

[2021-01-05 17:38] redhatrises commented on #12
I will thanks!

[2021-01-07 21:03] snarani7 opened #18 "Http Error 400: Bad Request: invalid header"
Hi shawndwell,

Need some help, I am trying to download falcon sensor using api but I getting this error with get_url module with headers
I tired several options to get add accept but nothing is working for me

fatal: [localhost]: FAILED! => {"changed": false, "dest": "/tmp/falcon/", "gid": 0, "group": "root", "mode": "0755", "msg": "Request failed", "owner": "root", "response": "HTTP Error 400: B

[2021-01-08 02:12] shawndwells commented on #18
Thanks for reporting this @snarani7 . Paging @redhatrises

[2021-01-08 22:02] redhatrises commented on #18
@snarani7 can you provide the version of ansible that you are using and run with the `-vvv` flag set?

[2021-01-10 06:24] snarani7 commented on #18
Hi redhatrises,

ansible --version
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/dbadeeds/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, Aug 13 2020, 02:51:10) [GCC 4.8.5 2015

[2021-01-12 20:19] redhatrises commented on #18
@snarani7 the role's minimum ansible version is 2.9 which may be why you are getting a failure getting the ```{{ falcon_api_sha_hash.json.resources[0].sha256 }}``` value.

[2021-01-31 22:10] dmccue opened #20 "Windows error with become when uninstalling"
Firstly, great collection this is absolutely the best way to deploy falcon (via ansible collection)

Having an issue with windows when using:
[code]

TASK [crowdstrike.falcon.falcon : CrowdStrike Falcon | Stopping Falcon Service] ***
Sunday 31 January 2021  22:04:21 +0000 (0:00:01.051)       0:03:37.052 ********
fatal: [i-********************]: FAILED! => {"msg": "The powershell shell family is in

[2021-02-04 18:04] shawndwells commented on #20
Thanks for reporting this @dmccue! We'll start looking into this.

[2021-02-04 23:50] redhatrises commented on #20
@dmccue Windows isn't really support atm, so errors expected.

[2021-02-05 16:20] clean-energyXOR opened #22 "Using the API method downloads the wrong sensor version on Centos 7"
While using Centos 7 and the API default method, the role downloads the sensor for Centos 8. Thus the package has dependency issues with the host and falcon-sensor will not install.

### Expected
falcon-sensor-6.14.0-11110.**el7**.x86_64

### Issue
falcon-sensor-6.14.0-11110.**el8**.x86_64 is downloaded

[code]

[code]

[2021-02-05 16:32] shawndwells commented on #22
+1, able to replicate. The API calls pull the latest sensor for RHEL or CentOS, always downloading the CentOS/RHEL8 RPM

[2021-02-05 16:34] shawndwells commented on #22
Believe this is from https://github.com/CrowdStrike/ansible_collection_falcon/blob/master/roles/falcon/tasks/api.yml#L34#L39

[2021-02-16 21:55] redhatrises commented on #22
There is an known limitation where the `os_version` is not filterable from the API at this point in time... it's very unfortunate.

[2021-02-16 22:05] shawndwells commented on #22
OK. What is the CrowdStrike feature request URL so that others can +1 fixing this limitation?

[2021-02-18 10:33] dhoeric commented on #22
+1, looking for support on os_version filtering.
That would be helpful to filter between amazon linux 1 & 2.

[2021-02-26 02:18] NateLedet opened #23 "Install directory/documentation"
In the defaults/main.yml file, the documentation shows:
[code]

Within tasks/preinstall.yml, we have this code, which is setting it to the /tmp/ directory:

[code]

Should that be updated to the user's directory?

[code]

Thanks

[2021-02-26 02:26] shawndwells commented on #23
@NateLedet yeah, it totally should. Thanks for reporting this!

[2021-02-26 02:27] shawndwells commented on #23
Feel free to submit a PR/bugfix. Otherwise will get to this in the coming days.

[2021-02-26 02:36] shawndwells commented on #23
@redhatrises thinking we update https://github.com/CrowdStrike/ansible_collection_falcon/blob/main/roles/falcon_installation/vars/main.yml to have a concept of destdir variable that defaults to ansible_user_dir. What do you think about that approach?

[2021-02-26 02:50] redhatrises commented on #23
Thanks for reporting this! This should actually be the `falcon_install_tmp_dir` variable in https://github.com/CrowdStrike/ansible_collection_falcon/blob/main/roles/falcon_installation/defaults/main.yml which should default to /tmp.

[2021-02-26 18:12] #23 closed

[2021-02-26 18:12] shawndwells commented on #23
Fix merged

[2021-02-26 21:34] NateLedet opened #26 "Conditionals are failing (CONDITIONAL_BARE_VARS)"
Control Node: Ansible 2.9.9
Endpoint: Ubuntu 16,18,20

When running the role, I got the following error:
[code]
At the warning's suggestion, I added `when: falcon_install_tmp_dir| bool` to continue, but this actually evaluates to False, which causes problems on other variables that are evaluated "bare" as well.

[code]
Later on, in tasks/install.yml, we get the same issue with the `falcon_provisio

[2021-02-26 21:40] redhatrises commented on #26
What version of Ansible are you using?

[2021-02-26 21:42] NateLedet commented on #26
The control node is Ansible 2.9.9

[2021-03-04 19:38] redhatrises commented on #26
PR has been merged. Closing.

[2021-03-04 19:38] #26 closed

[2021-03-04 23:42] redhatrises commented on #20
@dmccue I am unable to reproduce this when attempting to run the playbook on a windows system. Looks like the `become_method` isn't setup correctly for windows hosts in either the `ansible.cfg` or the inventory.

[2021-03-04 23:48] dmccue commented on #20
Yes a conditional guard is needed so that it only runs on Linux i.e.

when: ansible_os_family == 'Debian' or ansible_os_family == 'RedHat'

[2021-03-04 23:54] redhatrises commented on #20
Looks like the wrong collection is being used as well. Please use the `crowdstrike.falcon.falcon_installation` role.

[2021-03-05 12:08] Trane9991 opened #32 "falcon_provisioning_token is always defined"
Hello,
PR #15  introduced the `falcon_provisioning_token` parameter in the `defaults`,

which makes the condition `falcon_provisioning_token is not defined` to be **always false**, because variables in the `defaults` seem to be always defined.

This introduces the problem that step `CrowdStrike Falcon | Associate Falcon Sensor with your Customer ID (CID)` is never executed while `CrowdStrike Falco

[2021-03-05 13:50] Trane9991 opened #34 "Allow to provide grouping tags"
Provide a way to set grouping tags: https://answers.uillinois.edu/illinois/page.php?id=100806

[2021-03-05 17:12] NateLedet commented on #32
I found it helpful to have the variables in defaults, but you're right that the empty variable is now "defined", even if it is empty and causes issues. I had some issues with bare variables throwing errors and evaluating to false (see #26 ) which adding `is defined` seemed to fix, but your PR made me realize we could do more.

What about checking if the variable is defined but empty? Haven't teste

[2021-03-05 17:25] redhatrises commented on #32
Probably the best thing to do is to set empty variables to `null` and then evaluate if they are set to `null` or not. This is how a lot of collections are starting to tackle this.

[2021-03-05 17:28] Trane9991 commented on #32
I prepared PR #33 which solves the issue in quite a clean way.

On Fri, Mar 5, 2021, 19:25 Gabe Alford <notifications@github.com> wrote:

[2021-03-09 15:03] Trane9991 commented on #34
Current workaround I used:

[code]

[2021-03-10 23:54] redhatrises commented on #32
Closing this since PR #33 was merged. Please reopen if it is still an issue.

[2021-03-10 23:54] #32 closed

[2021-03-10 23:55] redhatrises commented on #20
This should be fixed in the latest release which should be able to run on Windows. Thanks for reporting and feel free to reopen if it isn't fixed.

[2021-03-10 23:55] #20 closed

[2021-04-15 14:35] jasonlanpher commented on #22
The ability to fix this should be pretty simple.  If there is an api limitation then instead of filtering all the results of packages to download simply return them all and based upon the ansible fact: "ansible_distribution_major_version": "7" you could chose the correct version then to subsequently pull down perhaps by sha256 hash if you have no other way to target the package by version.

[2021-04-22 16:59] redhatrises opened #37 "Add falcon helm chart to roles"

[2021-04-22 16:59] redhatrises opened #38 "Create uninstall role"

[2021-04-29 01:28] shawndwells commented on #22
That should be possible now.

We get into trouble when trying to find the falcon sensor RPM for a given Linux  minor releases. Rough analogy being the CrowdStrike API can pull down the sensor for ``rhel7:latest`` but not ``rhel7:1`` or ``rhel7:2``.

Docs for the Sensor download API are at https://falcon.crowdstrike.com/support/documentation/109/sensor-download-apis. There might be some way we have

[2021-04-29 01:30] shawndwells commented on #22
Still recalling either @redhatrises or @isimluk had implemented something very similar in another project. Could be totally making that up though... =/

[2021-07-02 17:05] rscott1010101 opened #39 "Error installing crowdstrike via token."
using a very simple playbook:-
---
- hosts: testhost1
  roles:
  - role: crowdstrike.falcon.falcon_installation
  vars:
    falcon_api_client_id: my_oauth_token
    falcon_api_client_secret: my_oauth_id

It downloads and installs the client correctly, then fails with:-
fatal: [testhost1]: FAILED! => {"msg": "The conditional check 'falcon_cid' failed. The error was: Invalid conditional detected: in

[2021-07-02 17:16] jkramer-mythic commented on #39
I ran into this as well - I was able to resolve it by editing install.yml and changing this task from:

`
  - name: CrowdStrike Falcon | Associated Falcon Sensor with your Customer ID (CID) Using Provisioning Token
    command: "/opt/CrowdStrike/falconctl -s -f --cid={{ falcon_cid }} --provisioning-token={{ falcon_provisioning_token }}"
    when:
      - falcon_provisioning_token
      - falcon_ci

[2021-07-02 17:18] redhatrises commented on #39
Hello,

Thanks for reporting this! The role should grab the CID from the API. What version of ansible are you using? Ansible 2.10 is what is supported.

[2021-07-02 22:34] rscott1010101 commented on #39
I was using Ansible 2.9.6 (default install with Ubuntu 20.04) - upgraded to 2.10 and the playbook runs. Thanks!

Might be good to mention the requirement somewhere though?

[2021-07-06 15:05] redhatrises commented on #39
Requirements are currently in the Ansible role's readme, but I this shows that they do need to be clearer.

[2021-08-12 22:02] jagibson commented on #22
Here's what happens on Amazon Linux 1:

`fatal: [amazonlinux]: FAILED! => {"changed": false, "changes": {"installed": ["/tmp/falcon-sensor-6.26.0-12304.amzn2.x86_64.rpm"]}, "msg": "Error: Package: falcon-sensor-6.26.0-12304.amzn2.x86_64 (/falcon-sensor-6.26.0-12304.amzn2.x86_64)\n           Requires: systemd\n", "rc": 1, "results": ["Loaded plugins: priorities, update-motd, upgrade-helper\nExamini

[2021-08-13 16:45] jagibson commented on #22
If you try running the API for os_version you'll get,

`[ { "code": 400, "message": "Failed to parse filter expression. [os_version is an unknown property]" } ],`

I've filed a support ticket with crowdstrike about this.  We'll see how it goes.

[2021-09-10 21:17] redhatrises commented on #39
Closing the Ansible version that is required is mentioned in the role README which is now link accessible through the main README.

[2021-09-10 21:17] #39 closed

[2021-09-10 21:19] redhatrises commented on #18
Closing as the issue is stale and no further information has been provided to solve the problem. Per the role, the supported ansible version is 2.10

[2021-09-10 21:19] #18 closed

[2021-10-17 20:49] grumpy-penguin commented on #22
Whilst the API may not yet allow filtering based on os_version, it is possible to filter the output returned. For example:

[code]

This would work for EL7, EL8 and Amzn2, but Amzn1 seems to return either N/A or 201x for the ansible_distribution_major_version. It fails therefore without some additional work to set an accurate fact for Amzn1.

During my testing for Ubuntu Focal and Bionic, my trial

[2021-10-18 01:39] shawndwells commented on #22
@grumpy-penguin thanks for this! Would you be open to submitting a pull request?

Regarding AM1.... IMHO we should get a solution that works for most people now. Future incremental improvements can address fringe cases.

[2021-10-20 17:23] redhatrises commented on #22
#53 has been merged. Keeping this open until os_version is supported in the api.

[2021-10-29 06:17] brunoneron opened #55 "api."
fatal: [localhost]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'unicode object' has no attribute 'sha256'\n\nThe error appears to be in '/root/.ansible/collections/ansible_collections/crowdstrike/falcon/roles/falcon_installation/tasks/api.yml': line 48, column 3, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offendin

[2021-11-02 16:03] gamethis opened #56 "latest version now fails on UBUNTU due to equals_to"
The change to equals_to in this commit causes ubuntu builds to fail due to
os_version formating in the api being more than one version.
`os_version: 16/18/20`

this pr introduced here in #53 at line 36 of api.yml

see diff here.

https://github.com/CrowdStrike/ansible_collection_falcon/pull/53/files#diff-92a8f4eb3b1dc2dd3ec492d56697e6c4e075a33e3cc4a7d3eebfbf2802da3dbfR36

[2021-11-04 13:28] carlosmmatos opened #58 "implement molecule testing framework"

[2021-11-09 18:35] redhatrises opened #60 "Support N-2 sensor install"
Collection always installs the latest version. Look into supporting N-2 deployments.

[2021-11-09 18:36] redhatrises opened #61 "Install sensor based on sensor update policies"
Look into installing the sensor version based on what the sensor update policy is configured.

[2021-11-09 18:38] redhatrises commented on #56
Should be fixed with #57  PR merged.

[2021-11-09 18:38] #56 closed

[2021-11-09 23:33] #58 closed

[2021-11-10 21:07] #38 closed

[2021-11-12 22:43] #22 closed

[2021-11-12 22:43] #60 closed

[2021-11-12 22:49] redhatrises commented on #55
This should be fixed now. `falcon_api_sha_hash` no longer is used.

[2021-11-12 22:49] #55 closed

[2021-11-12 22:50] redhatrises commented on #55
See #68

[2021-11-15 21:56] #61 closed

[2021-11-15 21:56] redhatrises opened #72 "Support Arm sensors"
Support installation of arm sensors in addition to sensor update policy

[2021-11-16 14:19] carlosmmatos opened #74 "Better support package installation on Linux"
Make the process of uninstall/install more generic for Linux by using package module.

[2021-11-16 14:20] #72 closed

[2021-11-16 19:37] #74 closed

[2021-12-06 14:59] t0ta11ed opened #81 "Windows Install Error"
Hello, Falcon sensor install works just fine on Linux, but did require the ansible.windows collection along with it.

Running the example playbook against a Windows Server 2019 machine returns the following error.

TASK [crowdstrike.falcon.falcon_installation : ansible.builtin.include_tasks] ***17:22:28
included: /runner/requirements_collections/ansible_collections/crowdstrike/falcon/roles/falcon_

[2021-12-06 22:10] redhatrises commented on #81
Hello,

Thanks for opening this issue. What version of ansible are you running?

[2021-12-06 22:45] t0ta11ed commented on #81
ansible --version returns (core 2.11.2).

[2021-12-08 20:53] redhatrises commented on #81
Thanks for opening this.

This error does look like an ansible 2.9 to 2.11 error to me around using the FQCN where it is now recommended and didn't exist in 2.9

[2021-12-13 04:56] philrumble-fz opened #85 "Please support --check option"

[2021-12-13 16:18] redhatrises commented on #85
Hello. Thank you for opening this.

We don't support `--check` mode due to the use of the command module in conjunction with the falcon backend. Both combined make check mode very difficult to support, so we won't be supporting it in its current invocation.

That said, we are working on an ansible module that should alleviate some of the current problems around this. We would expect this to be han

[2021-12-13 16:18] #85 closed

[2021-12-13 18:39] warrenridley opened #86 "getting error when installing using on windows"
"fatal: [*.*.*.*]: FAILED! => {"changed": false, "character_set": null, "content": "", "content_encoding": "", "content_length": "0", "content_type": "", "cookies": [], "date": "Thu, 09 Dec 2021 15:52:02 GMT", "elapsed": 0, "headers": ["Strict-Transport-Security", "X-Cs-Region", "X-Cs-Traceid", "X-Ratelimit-Limit", "X-Ratelimit-Remaining", "Content-Length", "Date", "Location"], "is_from_cache": fa

[2021-12-13 19:01] redhatrises commented on #86
@warrenridley is your API configured with non-expired tokens with the correct API permissions for your region? Also, are you manually specifying us-2?

[2021-12-13 20:16] warrenridley commented on #86
yes it is configured with the correct API permissions.  I ran this

- hosts: all
    roles:
    - role: crowdstrike.falcon.falcon_installation
    vars:
      falcon_client_id: "**************************"
      falcon_client_secret: "**********************************"

[2021-12-13 20:28] redhatrises commented on #86
Are you intentionally going through `us-2`?

If you can rerun again with adding `-vvv` and provide the output, that would be great.

[2021-12-13 22:26] warrenridley commented on #86
ok got what you saying added
falcon_cloud: "api.us-2.crowdstrike.com"

that solved the problem.

thank you.

[2021-12-13 22:34] redhatrises commented on #86
Cool. Autodiscover isn't enabled yet. Opening a separate issue for that.

[2021-12-13 22:34] #86 closed

[2021-12-13 22:35] redhatrises opened #88 "Enable auto-discover for cloud regions"
Falcon cloud should be able to be auto-discovered. We should investigate how possible this is, and implement it if it is possible with ansible.

[2021-12-14 13:01] t0ta11ed commented on #81
Fortunately, I don't have that many Windows systems but it would be great if it worked for those too.

[2021-12-14 20:14] warrenridley opened #90 "failing list object has no element on windows install"
TASK [crowdstrike.falcon.falcon_installation : CrowdStrike Falcon | Download Falcon Sensor Installation Package] ************************************************
fatal: [10.60.98.62]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: list object has no element 0\n\nThe error appears to be in '.ansible/collections/ansible_collections/crowdstrike/falcon/roles

[2021-12-14 20:22] redhatrises commented on #90
Hello,

Thank you for opening this issue. This should already be fixed in the main branch. See https://github.com/CrowdStrike/ansible_collection_falcon/pull/82

[2021-12-21 01:25] #88 closed

[2021-12-29 23:57] ktinthecloud commented on #81
Linux installations work fine, but getting the following error during Windows installations:

TASK [crowdstrike.falcon.falcon_installation : CrowdStrike Falcon | Download Falcon Sensor Installation Package] ***********************************************************************************************************
fatal: [hostname.MYDOMAIN.COM]: FAILED! => {"msg": "The task includes an option with

[2021-12-29 23:59] ktinthecloud opened #99 "Windows install error"
Linux installations work fine, but getting the following error during Windows installations:

TASK [crowdstrike.falcon.falcon_installation : CrowdStrike Falcon | Download Falcon Sensor Installation Package] ***********************************************************************************************************
fatal: [hostname.MYDOMAIN.COM]: FAILED! => {"msg": "The task includes an option with

[2021-12-30 17:31] redhatrises commented on #99
Hello,

This issue has already been fixed. Please see #90

[2021-12-30 18:19] ktinthecloud commented on #99
That worked.  Thanks!  If I'm using the latest release (3.0.0), how come that fix is not included?  Do we just have to wait for CrowdStrike to merge these changes into a new release?  Sorry for the dumb questions, I'm new to github.

[2021-12-30 18:23] redhatrises commented on #99
It was not delivered as part of the `3.0.0` release. The changes needed for the `3.1.0` release are being made right now.

[2021-12-30 18:24] ktinthecloud commented on #99
Got it.  Thanks for the help @redhatrises

[2021-12-30 18:24] #99 closed

[2022-01-02 23:04] zurrehma opened #100 "Getting below error while installing CS on Linux and Windows hosts"
`
TASK [crowdstrike.falcon.falcon_installation : CrowdStrike Falcon | Authenticate to CrowdStrike API] *******************************************************************************************************
fatal: [104.43.209.70]: FAILED! => {"changed": false, "connection": "close", "content": "", "content_length": "0", "date": "Sun, 02 Jan 2022 22:56:42 GMT", "elapsed": 0, "location": "https://ap

[2022-01-03 00:31] redhatrises commented on #100
Hello,

Looks like you are trying to connect to api.us-2.crowdstrike.com. The default setting that is used is api.crowdstrike.com. Pointing to the correct Falcon Cloud should solve your issue. This should be fixed in the next release.

[2022-01-10 20:32] #34 closed

[2022-01-10 20:35] carlosmmatos opened #109 "Update collection readme to include new role"

[2022-01-10 20:36] carlosmmatos opened #110 "merge falcon_configure set/delete options tasks"
Currently, there is a task for setting, and one for deleting falconctl options. This is most likely redundant and can/should be consolidated into one.

[2022-01-10 20:37] carlosmmatos opened #111 "Update falcon_configure with Windows tasks"
Need to update the falcon_install and configure roles to reflect Windows changes.

[2022-01-10 20:45] carlosmmatos opened #113 "Allow auto-detect of CID for falcon_configure role"
Since we had this previously in the falcon_install role, we just need to re-add the functionality to allow those that have API creds to auto-detect/get the CID.

[2022-01-10 22:04] #109 closed

[2022-01-12 14:21] #111 closed

[2022-01-12 18:36] #110 closed

[2022-01-12 18:54] carlosmmatos opened #120 "Ensure handler properly deals with options"
Some options like the removal of aid should not cause the service to restart. Need to ensure we are handling this appropriately.

[2022-01-12 19:36] #120 closed

[2022-01-12 23:17] #113 closed

[2022-01-13 05:51] ktinthecloud opened #123 "Error on TASK Set CID received from API"
Just updated to 3.2.0 of the collection and now I'm getting the following error when running my playbook:

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Set CID received from API] ******************************************************************************************************
fatal: [hostname]: FAILED! => {"msg": "The conditional check 'not falcon_cid' failed. The error was:

[2022-01-13 16:36] shawnharvick commented on #100
I am also running into this issue.  I am not specifically trying to connect to api.us-2.crowdstrike.com, just using the default, but still getting the error.

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Authenticate to CrowdStrike API] ****************************************************************************************************************
fatal: [host.local]: FAILED! =>

[2022-01-13 16:58] ktinthecloud commented on #123
The task completes without error now.  Thanks @redhatrises

[2022-01-13 16:58] #123 closed

[2022-01-13 17:04] ktinthecloud opened #126 "Release v3.2.0 - Error on Task "Gather tmp install directory objects (Windows)""
Getting the following error on task "Gather tmp install directory objects (Windows)":

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Gather tmp install directory objects (Windows)] *********************************************************************************
[WARNING]: No python interpreters found for host hostname.mydomain.com (tried ['python3.10', 'python3.9', 'python3.8', '

[2022-01-13 17:45] redhatrises commented on #100
Hello,

Looks like your CS region that you are assigned is `us-2`. Please make sure to create your API client id and client secret with the appropriate permissions are created in `us-2`.

[2022-01-13 19:05] #126 closed

[2022-01-13 19:11] carlosmmatos opened #127 "Create Windows GH Action/Workflows"

[2022-01-14 14:55] shawnharvick commented on #100
Hello I can confirm that I created the client id and secret in us-2

[2022-01-14 15:19] redhatrises commented on #100
Can you provide a sanitized version of the playbook that you are running?

[2022-01-14 15:47] redhatrises commented on #81
The roles use the FQCN (Fully Qualified Collection Name) which isn't related to a system's FQDN at all. You can see where/how this issue arises in https://github.com/ansible-collections/ansible.windows/issues/138

[2022-01-14 15:48] shawnharvick commented on #100
Here you go, thanks

[cs-install-san.yml.txt](https://github.com/CrowdStrike/ansible_collection_falcon/files/7871556/cs-install-san.yml.txt)

[2022-01-16 17:12] ktinthecloud opened #134 "v3.2.2 - Error on task "Gather tmp install directory objects (Windows)""
Getting the following error on the "Gather tmp install directory objects (Windows)" task:

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Gather tmp install directory objects (Windows)] *********************************************************************************
fatal: [hostname]: FAILED! => {"changed": false, "msg": "argument for paths is of type System.Collections.Hashtable

[2022-01-17 20:00] jurschel commented on #134
I second this issue.  Seems like something broke recently.  I had to go back to 3.1.0 to get a version that wouldn't error on windows boxes...

[2022-01-18 13:47] carlosmmatos commented on #134
@ktinthecloud @jurschel We believe the issue has been resolved with #135

We'll leave this open until we hear back to confirm the above resolution.

[2022-01-18 13:55] jurschel commented on #134
You can close it out.  I tested it earlier this morning and it now does indeed work as expected.  Thanks for the quick response!

[2022-01-18 13:55] #134 closed

[2022-01-18 16:30] ktinthecloud commented on #134
Yep, it's working now.  Thanks @carlosmmatos & @redhatrises!

[2022-01-18 16:30] ktinthecloud commented on #134
Yep, it's working now. Thanks @carlosmmatos & @redhatrises!

[2022-01-18 22:45] redhatrises commented on #81
@t0ta11ed would you mind trying out https://cloud.redhat.com/ansible/automation-hub/repo/published/crowdstrike/falcon ?

[2022-01-20 21:59] t0ta11ed commented on #81
I updated to 3.2.3 without an issue, but still get the same error when deploying to a Windows 2019 Standard server.  The same playbook works fine against both CentOS and Ubuntu servers.

[code]

[2022-01-20 22:27] redhatrises commented on #81
What version of the ansible windows collection are you using?

[2022-01-21 16:34] t0ta11ed commented on #81
1.9.0 was installed when I upgraded the collection to 3.2.3

`# /root/.ansible/collections/ansible_collections
Collection         Version
------------------ -------
ansible.windows    1.9.0
azure.azcollection 1.8.0
crowdstrike.falcon 3.2.3`

[2022-01-25 19:47] #127 closed

[2022-01-26 17:44] redhatrises commented on #100
@shawnharvick can you try the changes in #137 ?

[2022-01-26 17:56] carlosmmatos commented on #100
@shawnharvick @zurrehma this should be fixed in #137 as @redhatrises pointed out to. But to give further context, this was an issue with the win_uri Ansible module not being able to follow a redirect appropriately. The new fix takes this into account, however we should also mention that you could also provide the right URL to use for authenticating to CS.

For example, since the credentials being

[2022-01-27 15:56] Antse commented on #100
@carlosmmatos , do you know when this will be released ?

[2022-01-27 18:45] carlosmmatos commented on #81
@t0ta11ed I'm spinning something up to test this against ansible 2.9, but just to be sure I understand the issue, this only errors out on your Ansible Tower instance (which is using ansible  2.9.27 according to the docs) correct? Have you been able to test this outside of Ansible Tower?

[2022-01-27 20:56] carlosmmatos commented on #100
@Antse We are finalizing a few things, but expect it soon.

[2022-01-28 13:04] t0ta11ed commented on #81
Yes, running in Tower on Ansible 2.9. It works fine for Linux. I haven't tried it outside Tower, but will give it a whirl. Thanks!

[2022-01-28 13:44] carlosmmatos commented on #81
@t0ta11ed Thanks for confirming and my testing also did confirm that this issue is tied to Ansible 2.9. Since we only support Ansible 2.11+ for this collections, we will be closing this issue. Few things for you to consider or be aware:

- Even though we chose to support 2.11+, technically on Linux systems, 2.9 is still pretty backwards compatible to a certain point. This is why your Linux systems

[2022-01-28 13:44] #81 closed

[2022-01-28 13:48] carlosmmatos commented on #100
@Antse A new release was published about 16 hours ago and is available both here and on Ansible Galaxy. For anyone that uses Automation Hub, we will be uploading the new release soon as well.

Going to close this issue as the fixes identified should resolve this issue. Feel free to reopen or open a new issue if this is not the case.

[2022-01-28 13:48] #100 closed

[2022-01-28 14:00] t0ta11ed commented on #81
Sorry, I may have been mistaken. If I run ansible --version it's running 2.11;

ansible --version
ansible [core 2.11.2]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.8/site-packages/ansible
  ansible collection location = /root/.ansible/collectio

[2022-01-28 14:05] Antse commented on #100
Confirmed it’s fixed

[2022-01-28 15:19] carlosmmatos commented on #81
@t0ta11ed hmmmm... this is interesting then.. the symptoms you are seeing are as if the ansible system running the playbook from tower/aap is using ansible 2.9..

I would suggest the following:

1. You still haven't told us if you could run this playbook outside of AAP/Tower. If you can, then you have identified the issue to be with AAP/Tower.
2. If you have the same issue when running this outsid

[2022-02-01 13:21] mlollo opened #146 "Hide secrets on syslog target machine when calling POST /oauth2/token"
When calling POST /oauth2/token with task ansible.builtin.uri no_log=True should be specified to hide the falcon_client_secret in syslog target machine. If the authorization header with the Bearer oauth token must be hidden too, use no_log=True on all task ansible.builtin.uri. [Add a header_secret input for uri module](https://github.com/ansible/ansible/issues/73244#issuecomment-920562053)

[2022-02-02 14:45] carlosmmatos opened #148 "Add new sensor-update-kernels API call for enhancements"
The new API gives us the ability to now query to see if the kernel version is supported, as well as if the sensor version that is being installed is supported via the kernel version. We can add this on to verify/assert the installation will not cause RFM due to unsupported kernel/sensor combo.

[2022-02-03 18:03] #148 closed

[2022-02-08 19:50] carlosmmatos opened #151 "add rfm-state|reason to falconctl_info module"
Per @musayev-io, Add the following GET options for better visibility usage:

- `--rfm-state`
- `--rfm-reason`

[2022-02-08 20:24] #151 closed

[2022-02-25 06:29] yudigoh opened #154 "Get list of Supported Kernels failed with 403 Authorization failed"
Using the latest crowdstrike.falcon collection version 3.2.7

upon executing [Get list of Supported Kernels](https://github.com/CrowdStrike/ansible_collection_falcon/blob/ce79850be7b6f6b11ca1823d38fab985a7e1f2e1/roles/falcon_install/tasks/api.yml#L95) which translates to this call:

[code]

throws 403

[code]

Tested with the swagger page to replicate the error and my OAuth2 token works with other

[2022-02-25 21:52] redhatrises commented on #154
Hello,

Does your api client/key have `Sensor update policies: read` enabled?

[2022-03-01 12:34] bufanda opened #157 "Evaluation of falconctl location is done on sensible controller"
The method `self.module.get_bin_path` used in the plugins `falcon` and `falcon_info` is evaluated on the ansible controller and not on the client host thus it will fail when flacon isn't installed on the controller.

https://github.com/CrowdStrike/ansible_collection_falcon/blob/3384aa63239f2eea98902bd42b529368f48d8538/plugins/modules/falconctl.py#L160

This could easily happen when containerised c

[2022-03-01 15:31] carlosmmatos commented on #157
@bufanda not sure I'm following this question/concern. The plugin executes on the desired managed nodes. You can look at how we run our molecule testing for reference in regards to ci/cd:

For Linux testing - the ansible control node is the GH runner ubuntu host (does not have falcon installed) running ansible against docker containers. It's clear from here that the plugins only execute on the man

[2022-03-07 15:40] carlosmmatos commented on #154
@yudigoh We've updated the role docs to be more specific about the type of API scopes needed when using the api installation method.

Let us know if @redhatrises comment above fixed your issue.

[2022-03-10 20:09] TyraelTLK opened #158 ""Example of deleting options" Doesn't work"
From doc:

Examples of deleting options:

- hosts: all
  roles:
  - role: crowdstrike.falcon.falcon_configure
    vars:
      falcon_option_state: no
      falcon_cid: ""
      falcon_tags: ""

 Doesn't work.
 I tried with an API client/token with all permission but it gives this error:

 Status code was 308 and not [201]: HTTP Error 308: Permanent Redirect

 If I set a cid it works correctly.

[2022-03-10 23:54] redhatrises commented on #158
@TyraelTLK deleting options shouldn't require API client/token access at all, so if you are adding the API Client/Secret tokens just to delete options, try removing them and see what happens.

[2022-03-11 14:19] TyraelTLK commented on #158
Hi @redhatrises

this is what I get without API Client/Secret:

`  "msg": "ERROR executing ['/opt/CrowdStrike/falconctl', '-s', '-f', '--cid=', '--tags=']: OUTPUT = \"\" is not valid value for checksum CID (CCID)\nERROR: failed to process the option --cid\nUsage: falconctl -g GET_OPTIONS\n       falconctl -s [ -f ] SET_OPTIONS\n       falconctl -d [ -f ] DEL_OPTIONS\nwhere GET_OPTIONS := { --cid f

[2022-03-15 01:15] yudigoh commented on #154
Thank you @carlosmmatos and @redhatrises. Closing the issue

[2022-03-15 01:15] #154 closed

[2022-03-21 21:10] redhatrises commented on #158
@TyraelTLK we found a couple of bugs here that we will be submitting fixes for shortly.

[2022-03-22 14:29] #158 closed

[2022-04-07 13:03] carlosmmatos commented on #157
Any update on this?

[2022-04-13 14:44] liad5h opened #172 "python interpreter changed to python2 for amazon-linux2"
Hey,

I am installing falcon on an amazon-linux2 machine which does not have python2 installed on it.
The installation completes successfully but the rest of my playbook fails because of a change in the python interpreter in https://github.com/CrowdStrike/ansible_collection_falcon/blob/067e478ee94cc3cd48e847aae0df7620ab23341c/roles/falcon_install/tasks/preinstall.yml#L25

The `when` statement shou

[2022-04-13 15:47] redhatrises commented on #172
Hello,

This was more due ansible python version support than amazon linux python version support. It's probably worth another relook since we are now supporting ansible 2.11

[2022-04-14 06:01] liad5h commented on #172
Yea, I worked around it for now. just thought it was worth fixing.

[2022-04-15 23:23] Rpedvin opened #173 "Authenticate to Crowdstrike API || 400 - Bad Request"
Currently attempting to install falcon to a new host, but keep running into a 400 error. Thought it was because we were initially using the wrong API link, but it still is throwing the same error. The creds we're using should be more or less fine, we've used them before, but I could use a few pointers to potentially resolve this issue. Having a hard time figuring out where else to dig to resolve i

[2022-04-20 15:19] kbendl commented on #173
Additional info:
[code]

[2022-04-23 03:15] redhatrises commented on #157
Closing. Please reopen when the logs can be provided.

[2022-04-23 03:15] #157 closed

[2022-05-23 20:43] #172 closed

[2022-05-24 14:19] carlosmmatos opened #175 "Update plugins docs"
* Change `apd` reference - as `apd` needs to be set to `False|no` for proxy to be configured
https://github.com/CrowdStrike/ansible_collection_falcon/blob/6f69b480f91fc76bec39242c7ee3e284d13a2ef8/plugins/modules/falconctl.py#L114
* Update README to remove default boiler-template

[2022-05-24 19:54] redhatrises commented on #173
@kbendl can you provide feedback if the above suggestion fixed your issue?

[2022-05-24 20:56] #175 closed

[2022-05-26 13:26] lapkritinis opened #178 "Amazon Linux 2 support"
I run a playbook on not-so-old Amazon Linux 2 AMI and got this. Nonetheless I can confirm that I have running falcon agent with manual installation.

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Validate Kernel is Supported] ************************************************************************************************
fatal: [localhost]: FAILED! => {
    "assertion": "falcon_se

[2022-05-26 15:49] redhatrises commented on #178
Are you installing this from Extras?

FYI. You can disable the check with `falcon_skip_kernel_compat_check` which is defined in https://github.com/CrowdStrike/ansible_collection_falcon/tree/main/roles/falcon_install#role-variables

[2022-05-27 13:45] jdefr42 opened #179 "Installation failed on Debian 11"
With the api mode, I have the following message:
`TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Validate Sensor version is compatible with Kernel] ***********************************************************************************************************************************************************fatal: [server_name]: FAILED! => {
    "assertion": "falcon_sensor_version in fal

[2022-05-27 23:29] ppanon2022 commented on #12
Another use case is using Uyuni with a custom software channel to deploy the package.

[2022-05-30 14:27] smoothzz opened #180 "win uninstall doesnt find the executable"
when trying to uninstall in a windows machine, the role couldnt find the executable to pass the arguments, the file now is named as "WindowsSensor.MaverickGyr.x64.exe" not "WindowsSensor.exe" anymore.

What i did to fix it was searching for a pattern regex in that case works just fine.

Thanks

[code]

[2022-05-31 19:25] justinpham-hs opened #181 "Use this collection without ansible-galaxy"
Hello!

Was wondering if I can use this ansible collection without using `ansible-galaxy collection install`

Thanks in adv!

[2022-06-01 17:07] carlosmmatos opened #182 "remove follow-redirects behavior on api calls"
To prevent potential compliance issues, remove the follow_redirects POST call when authenticating to CS API when auto-detecting falcon_cloud and CID. Add proper error message if wrong Falcon Cloud URL is provided.

[2022-06-01 17:56] justinpham-hs commented on #181
Awesome!! Thank you so much! I'll give it a try.

On Wed, Jun 1, 2022, 1:40 PM Carlos Matos ***@***.***> wrote:

[2022-06-02 14:12] carlosmmatos commented on #179
Hi @jdefr42 and thanks for opening the issue!

So the reason we can't use that wildcard filter is because this variable aligns directly with the "Get sensor installer details" API call. Here is the result of that api call for reference:

[code]

So to limit our results, we use both `os` and `os_version` as filters to the api call.

You did find an issue in that we weren't yet accounting for Deb11,

[2022-06-02 14:17] carlosmmatos commented on #173
Hi @kbendl and @Rpedvin - any updates on this?

[2022-06-02 14:18] carlosmmatos commented on #181
No problems, let me know if it works for you, or if you hit any roadblocks.

[2022-06-02 14:56] carlosmmatos opened #184 "Fix ansible-lint issues"
Latest ansible-lint is throwing new errors that need to be reviewed/fixed/ignored.

[2022-06-07 00:55] justinpham-hs commented on #181
Thanks @carlosmmatos ! It worked, but now I'm getting:

[code]

[2022-06-07 17:46] justinpham-hs commented on #181
Please feel free to close this issue! Thanks again, much appreciated!

[2022-06-07 17:56] carlosmmatos commented on #181
Hi @justinpham-hs,

So we added the capability to let you know if your current configuration of
( kernel + falcon_sensor ) is supported by CS. You can also check out the
new Linux Supported Kernels
<https://falcon.crowdstrike.com/documentation/245/linux-supported-kernels>
support
docs to see what is supported for your kernel version or distro. You can
also opt to skip the kernel compat check in an

[2022-06-07 18:00] carlosmmatos commented on #181
@justinpham-hs Thanks for reaching out again and glad I was able to help your initial issue. I will close this issue now.

[2022-06-07 18:00] #181 closed

[2022-06-07 21:17] charlesRMD opened #186 "falcon_install failing with kernel version check"
Hi!

I'm trying to install with falcon_install role, but despite the documentation on kernel compatibility stating otherwise ( 5.4.0-113-generic | min version: 6.28.12504 ), i'm getting:

`The sensor version: 6.39.13601 is not supported with kernel: 5.4.0-113-generic`

target machine:
ec2-18-232-176-26.compute-1.amazonaws.com | CHANGED | rc=0 >>
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.

[2022-06-08 13:04] charlesRMD commented on #186
Using the `falcon_skip_kernel_compat_check` I can bypass the error. Still the check is not consistent with the CS documentation

[2022-06-08 14:44] charlesRMD commented on #186
Hi
Thank you.
When I skip the the check, the hosts are in RFM mode status

[2022-06-08 15:04] carlosmmatos commented on #186
Okay so I think I see the problem here.. the way we did the kernel compatibility check originally was based on the kernel having a supported Base Package sensor.. in your case, you do not have a supported base package sensor for this kernel which is why it fails, however, there is a ZTL supported sensor version (ie 6.39.13601) which should work. So I need to change the filtering done for the api c

[2022-06-08 17:06] charlesRMD commented on #186
Thanks!. But I'm already installing the  6.39.13601 as you can see in the initial message

[2022-06-08 17:15] carlosmmatos commented on #186
Yes but you have 2 issues you have identified here.. 1 is the origin of this issue - which is that the falcon_install role fails when checking for kernel compatibility. That is going to be addressed in an upcoming PR.

The other issue is that your sensors are in rfm mode - that will need to be addressed with CrowdStrike support. The above command I gave you should give you additional context as to

[2022-06-08 18:17] justinpham-hs commented on #186
Thanks @carlosmmatos !! Will this resolve the error I'm getting as well?

[code]

We found that Kernel Comp Check is failing even if the kernel is on the crowdstrike documentation listed as supported.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/76530953/172688347-ea5495d9-b2ba-453a-9f37-046a0ca110c0.png">

[2022-06-08 19:03] #186 closed

[2022-06-08 22:13] carlosmmatos opened #189 "add support for ztl module supported field"
inline with previous pr #187 except we've verified that we should add support for the following field from the kernel compat API response:
`ztl_module_supported_sensor_versions`

[2022-06-08 22:21] carlosmmatos commented on #186
@justinpham-hs This PR won't fix what you see since your is only supported via the ZTL module supported sensors. I've got a PR in right now #190 to address that and create a new release. So 3.2.13 should work for you. Please re-open an issue if it doesn't work after testing it out.

[2022-06-08 22:45] #189 closed

[2022-06-09 16:41] bnjeongwo opened #191 "Authenticate to CrowdStrike API"
![image](https://user-images.githubusercontent.com/98240947/172899772-00445792-b425-48e6-b693-dd7a8613955d.png)

[2022-06-09 16:45] #184 closed

[2022-06-09 16:48] carlosmmatos commented on #191
@bnjeongwo Can you provide more information here? There could be many reasons why authentication is failing. The [falcon_install README](https://github.com/CrowdStrike/ansible_collection_falcon/blob/main/roles/falcon_install/README.md) is a great place to start. Also, ensuring your API credentials have the proper permissions/access.

[2022-06-09 16:57] bnjeongwo commented on #191
i defined my credentials in the vars file. not sure about what permissions are required for them to work.

[2022-06-09 20:55] redhatrises commented on #178
Hello,

We have released 3.2.13. Please see if that fixes your issue.

[2022-06-09 20:55] redhatrises commented on #173
Closing this are there is no further movement. Please reopen if you need further assistance.

[2022-06-09 20:55] #173 closed

[2022-06-09 22:52] bnjeongwo commented on #191
![image](https://user-images.githubusercontent.com/98240947/172958273-38fb2534-af3e-4ec1-b308-574a4219af63.png)

[2022-06-09 22:53] bnjeongwo commented on #191
i ran the palybook in debug mode and got that error

[2022-06-10 12:35] carlosmmatos commented on #191
@bnjeongwo This is very symptomatic of invalid credentials. Please read the Falcon Docs surrounding Oauth2 credentials and follow the example commands to validate your credentials in my previous comment. In other words, this is not an Ansible issue, but an issue with your credentials which is why it was closed initially. I will leave it open a little bit longer, for you to verify your existing API

[2022-06-10 16:12] carlosmmatos commented on #186
@charlesRMD  - what is the output of this task:
[code]

[2022-06-10 17:01] carlosmmatos commented on #186
@charlesRMD, we found the issue. Getting a PR in soon.

[2022-06-10 17:04] charlesRMD commented on #186
Thank you @carlosmmatos for your help. In case still needed:
[code]

[2022-06-10 18:40] carlosmmatos commented on #186
#193 should fix your issue. I'm cutting a new release here shortly for 3.2.14

[2022-06-13 14:59] thedcspace opened #194 "falcon_install fails at "Get list of Support Kernels""
Attempting to install the falcon sensor using falcon_install on a Centos Stream 8 server, kernel version 4.18.0-394.el8.x86_64, API credentials seem to work as the other API steps succeed, and i can generate an auth token using curl.

I disabled the no_log parameter to check for further info on the task and it provides a 403 Access denied access denied, authorization failed

Hoping somebody can he

[2022-06-13 15:29] thedcspace commented on #194
Triple checked with my manager, he hadn't added the Sensor Update Policies permission to the key, I will get this amended and try again, thanks for the assistance.

[2022-06-13 20:51] charlesRMD commented on #186
@carlosmmatos

Thank you!
Tested 3.2.14 and we were able to start deploying on our infra.

[2022-06-14 13:17] thedcspace commented on #194
Can confirm this was the issue, now getting the error that my Kernel is not supported but that's a nice obvious error I don't need any help with.

Appreciate you

[2022-06-14 14:55] bnjeongwo commented on #191
@carlosmmatos i realized that my IP was not on the allow list.

[2022-06-14 14:59] bnjeongwo opened #195 "The kernel version: 4.18.0-372.9.1.el8.x86_64 is not supported by the Falcon Sensor!"
![image](https://user-images.githubusercontent.com/98240947/173609875-e9710895-16bb-4f7f-b1a4-d74403cfabf3.png)

[2022-06-14 15:00] bnjeongwo commented on #195
does anyone know how i can resolve this?

[2022-06-14 15:01] bnjeongwo commented on #191
i added my ip address to the allow list and it resolved this issue.

[2022-06-14 15:34] redhatrises commented on #195
This kernel isn't supported yet by the sensor. So, it's a valid error. If you would like to continue testing install, you can set `falcon_skip_kernel_compat_check` to skip the error.

[2022-06-14 19:18] bnjeongwo opened #196 "couldn't resolve module/action 'crowdstrike.falcon.falconctl"
any suggestion on how i can fix this issue?

![image](https://user-images.githubusercontent.com/98240947/173670943-17066ac0-0409-40d3-82f6-0537d6a1bf37.png)

[2022-06-14 20:22] redhatrises commented on #196
How was this installed i.e. what command(s) did you use? What version of Ansible are you using?

[2022-06-14 20:42] bnjeongwo commented on #196
@redhatrises
![image](https://user-images.githubusercontent.com/98240947/173684902-8fbac3d6-a529-4aa2-a055-34ef1efe850e.png)

[2022-06-14 21:22] redhatrises commented on #196
We actually don't support ansible 2.9. Minimum Ansible version required is 2.11. See https://github.com/CrowdStrike/ansible_collection_falcon/tree/main/roles/falcon_configure#requirements

[2022-06-17 21:30] justinpham-hs opened #197 "Failing when Falcon Set Service State for Primary Images"
Hello,

Has anyone ever ran into this issue?

[code]

Thank you in advance 😄

[2022-06-17 21:48] #197 closed

[2022-06-17 21:48] justinpham-hs commented on #197
falcon_configure doesn't accept `when` conditions with `tags`

[2022-06-17 21:53] justinpham-hs opened #198 "No options specified error during Configure Falcon Sensor Options Task"
Not sure what to make of this error:

TASK [../collections/ansible_collections/crowdstrike/falcon/roles/falcon_configure : CrowdStrike Falcon | Configure Falcon Sensor Options (Linux)]

[code]

[2022-06-17 21:54] redhatrises commented on #198
Can you provide an example of your task?

[2022-06-17 21:57] justinpham-hs commented on #198
Hey @redhatrises ! I'm using the default task that comes with falcon_configure/tasks/configure.yml

[code]

[2022-06-17 21:58] justinpham-hs commented on #198
In terms of my playbook:

[code]

[2022-06-17 22:06] redhatrises commented on #198
Are you trying to set the tag `r_crowdstrike`? If so, I'd recommend looking at the examples in the Role's Readme at https://github.com/CrowdStrike/ansible_collection_falcon/tree/main/roles/falcon_configure#example-playbook.

Otherwise, it looks like you are trying to use the role without setting anything which is causing it to fail.

[2022-06-17 22:20] justinpham-hs commented on #198
Awesome! That worked - just had to supply some variables to the role.  Much appreciated!

[2022-06-17 22:20] #198 closed

[2022-06-28 16:15] carlosmmatos commented on #196
closing as this is out of supported configuration

[2022-06-28 16:16] carlosmmatos commented on #178
@lapkritinis please confirm wether or not the latest release fixes your issue. Thanks.

[2022-06-28 22:37] redhatrises commented on #16
yes, because it is a better invocation vs where the data resides now.... even though we have worked around it.

[2022-07-04 10:06] Raphhael opened #201 "Missing variable in task "Detect Target CID Based on Credentials""
Hello,

Could someone help me with this error?

![screenshot](https://user-images.githubusercontent.com/5962151/177132304-652937b2-ce88-4f74-a3c3-70c7182d1139.jpg)

After debugging, i saw that the task '[Detect Target CID Based on Credentials](https://github.com/CrowdStrike/ansible_collection_falcon/blob/73c358b26caf5316af257a44df6a95188eb9960f/roles/falcon_install/tasks/win_api.yml#L36)" fails be

[2022-07-05 05:24] twmoussa commented on #201
To avoid duplication, I am seeing a similar error in "TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Get list of filtered Falcon sensors]".

`TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Get list of filtered Falcon sensors] *************************
fatal: [XXXXXX]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'dict ob

[2022-07-05 12:43] carlosmmatos commented on #201
Will look into it today

[2022-07-05 14:56] carlosmmatos commented on #201
@Raphhael This should be fixed/pushed by today. I found the issue and thank you for bringing it to light!

@twmoussa I would create a new issue since your's is dealing with the linux side and this issue is windows based.

[2022-07-05 15:07] #201 closed

[2022-07-08 14:06] carlosmmatos opened #205 "support latest api changes to kernel-compat and sensor query"
There were some recent changes that we have noticed based on the latest sensor version release for Linux. It seems as if the API's we use have not been fully updated, however in preparation, we can make the changes now to support it.

[2022-07-11 14:08] #205 closed

[2022-07-11 15:32] jlosito opened #207 "Install specific version of daemon"
Rather than having the `falcon_sensor_version_decrement` variable, I would like to install a specific version of the daemon. A lot of other roles offer this level of control rather than being N-1 from latest.

[2022-07-13 13:48] nhempenius opened #208 "Kernel Supported by Latest Sensor but install failed at Validate Sensor version is compatible with Kernel"
On July 6th one of our Sensor install jobs failed at the `Validate Sensor version is compatible with Kernel` task with message `The sensor version: 6.41.13803 is not supported with kernel: 3.10.0-1160.2.2.el7.x86_64.`
According to the sensor-update-kernels API this kernel was supported at version 6.33.13005.

To fix the issue we modified `falcon_sensor_version_decrement: 0` to `falcon_sensor_versi

[2022-07-14 14:23] carlosmmatos commented on #208
I would also note that you can bypass the kernel compatibility check by passing in:

`falcon_skip_kernel_compat_check: yes`

Rather than decrementing the sensor version - especially if you know its a supported configuration.

[2022-07-14 15:23] nhempenius commented on #208
@carlosmmatos thank you! I will pass this info on to our teams!

[2022-07-14 15:39] nhempenius commented on #208
@carlosmmatos
Aggreed, that does make more sense:
"Perhaps rather than auto-incrementing, we may instead opt to use the latest sensor version available from the - name: CrowdStrike Falcon | Build Sensor Update Kernels API Query task."

[2022-07-20 13:32] jlosito commented on #207
Hi @carlosmmatos I personally don't need this anymore, hence why I closed it. I figured there's probably other things to tackle. If others want it, that's cool. I'm actually going to make use of the version decrement ability that you've already added.

[2022-07-20 14:06] carlosmmatos commented on #207
@jlosito Understood. We do feel like this is something we need to have which is why we re-opened it. We'll have something implemented soon enough for it.

[2022-07-22 17:19] #207 closed

[2022-07-25 13:40] carlosmmatos opened #217 "follow_redirects missing in falcon_configure role"
From a discussion post -

Hello @carlosmmatos ,

I'm using this collection and I'm encountering issues because the `follow_redirects` option is not set.
I'm not setting any specific URL to my playbook, but when I do a simple configure without calling the install role first, I always end up with an error on the API authentication.
I'm redirected from `api.crowdstrike.com` to `api.us-2.crowdstrike.c

[2022-07-25 14:19] #217 closed

[2022-07-25 14:28] carlosmmatos commented on #208
@nhempenius So it looks like we're probably not going to implement an auto-increment feature, as that would really just be a band-aid approach to the actual issue - which is that our API's are not catching up to the new releases of our sensor. In other words, if our API didn't have this lag issue, this wouldn't be an issue here at all. So with that, the best bet going forward is to use the `falcon

[2022-07-26 10:31] rnsc commented on #217
@carlosmmatos thank you for this bug fix!
Small question, what's the release cycle of this collection?
I can bypass the bug in my playbook by forcefully setting the `falcon_cloud` variable, but I want to document this and plan the clean up once a new version is available.
No rush, just checking!

[2022-07-26 13:19] carlosmmatos commented on #217
@rnsc New release [3.2.18](https://github.com/CrowdStrike/ansible_collection_falcon/releases/tag/3.2.18) is now available

[2022-07-26 13:32] rnsc commented on #217
Thank you @carlosmmatos !

[2022-08-04 17:09] TyraelTLK opened #226 "Ubuntu 20.04 - RHEL 9 - issue with 3.2.18 and 6.41.13804"
I'm trying to running the collection with:
falcon_sensor_version_decrement: 0

and it doesn't work on Ubuntu 20.04.
I'll end up with only the package crowdstrike-cs-falconhoseclient 2.11.0 installed
If I don't set falcon_sensor_version_decrement: 0 falcon-sensor 6.38.0-13501 is correctly installed

[2022-08-04 17:31] TyraelTLK commented on #226
Specifying -e 'falcon_sensor_version="6.38.13501"' works.
Specifying -e 'falcon_sensor_version="6.40.13707"' works.
Specifying -e 'falcon_sensor_version="6.41.13804"' **does NOT** work.

[2022-08-04 17:38] carlosmmatos commented on #226
Looks like there is an issue with the API for getting the installers.. For some odd reason it's trying to pull in the Falcon SIEM controller (WHICH IS MOST DEFINITELY SHOULD NOT).. I will be asking the API owners to look into this.

As for your second question - when you specify `falcon_sensor_version="6.41.13804"` - what is the error you are getting?

[2022-08-04 17:55] redhatrises commented on #178
Closing this as there is no further response. Please reopen if needed. Thanks!

[2022-08-04 17:55] #178 closed

[2022-08-04 18:46] carlosmmatos commented on #226
@TyraelTLK The API issue has been resolved. If you have issues with installing the latest sensor version, my guess is that it's related to the kernel version.

[2022-08-05 07:20] TyraelTLK commented on #226
Hi @carlosmmatos, I still have the issue:

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Install Falcon Sensor Package (Linux)] ********************************************************
changed: [] => {"changed": true, "stderr": "", "stderr_lines": [], "stdout": "Selecting previously unselected package crowdstrike-cs-falconhoseclient.\n(Reading database ... 169355 files and directo

[2022-08-05 07:26] TyraelTLK commented on #226
Specifying `falcon_sensor_version="6.41.13804"` works on Ubuntu 20.04 but does not work on RHEL 9:

TASK [crowdstrike.falcon.falcon_install : CrowdStrike Falcon | Validate Sensor request] ***
fatal: [localhost]: FAILED! => {"changed": false, "msg": "No Falcon Sensor was found! If passing in falcon_sensor_version, ensure it is correct!"}

[2022-08-05 08:06] TyraelTLK commented on #226
RHEL 9 with `falcon_sensor_version_decrement="0" falcon_api_enable_no_log=false`
[code]

[2022-08-05 11:28] carlosmmatos commented on #226
@TyraelTLK I can confirm RHEL 9 is an issue. Again, seems to be related to our API's. It looks like they changed the os query to `RHEL` instead of `RHEL/CentOS/Oracle`. We will create a fix for this soon.

In the meantime, you can work-around this issue by passing in an extra var to override the `os:` portion of the `falcon_os_query` command by setting the following:

[code]

This should override

[2022-08-08 15:48] TyraelTLK commented on #226
@carlosmmatos
Now Ubuntu 20.04 works fine.
`falcon_target_os: 'RHEL'` works as a work-around for RHEL9. Thanks.

[2022-08-09 14:12] carlosmmatos commented on #226
@TyraelTLK Glad to know it's working. I will be submitting a PR to fix the RHEL issue today.

[2022-08-09 14:54] #226 closed

[2022-08-09 15:35] #208 closed

[2022-08-16 21:32] Lobout opened #239 "RHEL 8 undefined variable error"
when attempting to run falcon install i am getting an undefined variable error as follows:

[code]

[2022-08-17 13:15] carlosmmatos commented on #239
Hi @Lobout , it looks like there may be an issue with your API credentials, because the `dict` object error is referring to the output from the `- name: CrowdStrike Falcon | Authenticate to CrowdStrike API` task. First, make sure your API scope is correct per our [README](https://github.com/CrowdStrike/ansible_collection_falcon/blob/main/roles/falcon_install/README.md#falcon-api-permissions).

To

[2022-08-17 15:24] Lobout commented on #239
You are correct.  The person in charge of the api access did not set permissions correctly.  I hate generic error messages.   This is not a problem and can be closed.

[2022-08-17 15:24] #239 closed

[2022-08-17 20:55] carlosmmatos commented on #239
@Lobout What's interesting is I don't even know how you got that message. If you authenticated with the API (assuming you had incorrect permissions), you would have got another message essentially saying access denied.. that message above is cryptic since what this is saying that you somehow authenticated to the api, but didn't receive a bearer token in the response.. which is strange.. Glad it's

[2022-08-23 14:47] carlosmmatos opened #244 "ARM64 packages are being returned on non-arm systems"
Ubuntu 20 returns an arm64 sensor as the first result. We need a way to prevent this until the API incorporates an architecture field.

[2022-08-23 14:54] #244 closed

[2022-08-24 15:09] patrickmayes opened #246 "Error: Get list of supported Kernels"
We are getting the following error message with using Ansible version 2.11 via AWX and this collection on versions 3.2.18, 3.2.19, and 3.2.20

### Error Message from AWX
[code]

### Var falcon_sensor_update_kernels_query output
[code]

### Request to make troubleshooting easier
It would be nice if we had something like the following for EVERY variable that your role uses so if we put items into a

[2022-08-24 16:45] patrickmayes commented on #246
@carlosmmatos That is the exact option I was looking for, didn't realize that the vars were listed under the role's README.  This popped up the error we were looking for and can discuss on our call today.  We are getting a 403 authorized failed, is there a difference in permissions/tokens that are needed between the 3.1.0 and the 3.2.20 versions of your collection?

[2022-08-25 16:32] ia-mfriegang opened #248 "Incorrect Architecture Used"
We have been using the install and configure roles for months, and suddenly this week they started throwing errors about the incorrect architecture. I've tried to dig through the role and determine where the architecture gets set, and it seems to me like this may either be an API issue, or something with the Role. We submitted a support ticket, but haven't gotten any help in a few days, so this is

[2022-08-25 17:21] carlosmmatos commented on #248
Hi @ia-mfriegang - have you tried using the latest version of the collection v3.2.20? We recently fixed this issue due to an api issue.

[2022-08-25 18:31] ia-mfriegang commented on #248
Thanks @carlosmmatos, forcing an update of the collection fixed it for me. All good now!

[2022-08-25 18:31] #248 closed

[2022-08-29 15:38] #246 closed

[2022-09-12 01:50] FlorianHeigl opened #253 "win install in file mode does not copy the file?"
i might be doing something wrong -
but I cannot find _anything_ that would transfer the agent installer file from the control node to the remote system.

is there?

[2022-09-12 13:20] carlosmmatos commented on #253
@FlorianHeigl - Check out this discussion [here](https://github.com/CrowdStrike/ansible_collection_falcon/pull/242#issuecomment-1231777236).. let me know if this helps

If this is for windows - then just replace `ansible.builtin.copy` with `ansible.windows.win_copy`

[2022-09-15 20:26] shadowink opened #254 "Delete Agent ID failing in crowdstrike.falcon.falcon_configure"
I'm running a packer build that is generating our Linux templates.  We are installing crowdstrike falcon and at the end, I am trying to delete the agent ID to generate a master image, but the task is erroring out.

Running ansible: 2.11.6
Same behavior on RHEL 7 and Ubuntu 18
Same behavior using crowdstrike.falcon 3.2.18 and 3.2.20

task:
[code]

The error is:
[code]

Specifically we keep seeing *

[2022-09-15 20:30] carlosmmatos commented on #254
Let me take a look into it

[2022-09-16 11:52] carlosmmatos commented on #254
I see the issue.. I'll have a fix in today

[2022-09-16 17:05] #254 closed

[2022-09-17 16:32] carlosmmatos commented on #253
@FlorianHeigl did this help?

[2022-09-21 01:07] FlorianHeigl commented on #253
@carlosmmatos hi, I had already hacked in some win_copy usage the night I ran into the issue?
I had to make my install work with ansible 2.9, so it's a bit hard to provide a good-looking PR.

If you want I can provide the right snippet here.

[2022-09-21 18:47] carlosmmatos commented on #253
@FlorianHeigl Thanks for the response back.

You're always more than welcome to submit a PR, but if it's for the functionality of simply copying the installer, then it's not going to get merged in. In that thread above I linked, the reason for this is that we don't want to enforce a method of deployment when using the local file installation option. We're more than happy to install the falcon sens

[2022-09-21 21:26] mkurtis opened #257 "api.yml behaves differently for falcon_install and falcon_configure when using non default URL"
Because I am using the a non-default endpoint:  "api.laggar.gcw.crowdstrike.com" rather than the default, "api.crowdstrike.com", the api.yml module of falcon_configure is not behaving the same way as falcon_install.

My Ansible playbook looks like this;

[code]
Note that the last line is a workaround, and solves my immediate problem.   But should I need to do it this way since falcon_install does

[2022-09-22 01:55] FlorianHeigl commented on #253
Got it. closing my issue accordingly.

[2022-09-22 01:55] #253 closed

[2022-09-22 16:49] carlosmmatos commented on #257
Hey @mkurtis - thanks for creating an issue. You are right that in theory, both roles should work the same, and it looks like this is something that should be easy enough to implement so expect a PR soon.

What you're running into here is a [Ansible variable precedence](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable) is

[2022-09-22 20:32] #257 closed

[2022-10-04 13:04] rnsc opened #260 "[Enhancement] Use run_once for API calls"
Hello,

I was wondering if the roles could be enhanced with the use of `run_once: true` for tasks that don't require to be run on all the hosts of an inventory.
ie:
https://github.com/CrowdStrike/ansible_collection_falcon/blob/327ad35e2c0a58864296a388fe46291e69554925/roles/falcon_install/tasks/api.yml#L2

It doesn't make sense to trigger a call to the API for all the hosts and can make the install

[2022-10-04 13:48] carlosmmatos commented on #260
@rnsc thanks for opening up the issue. I like the idea and I can see it making since for API authentication calls.. so in theory, if you are running this on X# of systems, we would just authenticate one time and register that bearer token, that would then be passed on to the other hosts in subsequent tasks...

Let me mess around with this to see what we can come up with.

[2022-10-06 09:43] rnsc commented on #260
To give you a bit more context:
I have environments that contain at least a hundred hosts, some even more and I get throttled very easily by the Crowdstrike API when, for example, reconfiguring tags on the endpoints.
So that means I have to batch the Ansible runs with `serial` and it's a bit impractical.

[2022-10-06 11:14] rnsc commented on #260
I've tested with a local fork of this collection to unblock my current deployment and it looks ok. But I have the same OS distribution/versions everywhere so that's limiting the impact.

[2022-10-06 11:23] carlosmmatos commented on #260
I've got something tested from yesterday that I plan on opening up a PR today. This is primarily for dealing with API authentication, as the token bearer works for all hosts so no need to run that on all. The other API calls we currently have are for querying for the sensor, sensor update policy query (if supplied), sensor kernel compat check (can be skipped), and sensor download. Most of these do

[2022-10-06 11:26] carlosmmatos commented on #260
If you have a homogeneous environment like this, are you using the API install method? Or are you using a local file or repo sensor install method? The latter would cut down significantly on API calls.

[2022-10-06 11:28] rnsc commented on #260
I'm just using your collection with an API key yes. I didn't want to add a local repo for this to avoid having to maintain yet another thing internally. And I figured using the API would make sure when I install the agent I get the latest version that is compatible for my host.

[2022-10-06 11:37] carlosmmatos commented on #260
Understood... as an fyi, we are working on creating/releasing version 4 which will make this much easier for you to manage as we move to a more api driven collection. So in the near future, you can use the crowdstrike.falcon.sensor_download module once to download the latest sensor, then run a copy command to copy it to your hosts, then run the install role using the local file method. This should

[2022-10-06 19:33] #260 closed

[2022-11-08 19:02] bschonec commented on #12
This issue is almost two years old.  Why can't Crowdstrike just make the GPG key available in a yum repository somewhere?

[2022-11-16 21:15] ZacharyWallace opened #268 "Issue with architecture identification for Rocky Linux"
Hi all, looks like there is an issue with the role not accurately identifying the architecture for Rocky Linux hosted on AWS EC2. I'm not sure if this is specific to my current kernel or more general.

Here's the output from the OS:
[code]

I believe that should give us a couple of supported base packages, per https://falcon.crowdstrike.com/documentation/245/linux-supported-kernels

6.46.14306 & 6

[2022-11-17 13:39] carlosmmatos commented on #268
@ZacharyWallace What version of Ansible are you using?

[2022-11-17 15:48] ZacharyWallace commented on #268
@carlosmmatos Here you go. Let me know if you need anything else.

[code]

[2022-11-17 17:20] carlosmmatos commented on #268
@ZacharyWallace I see that makes sense then.. We support [2.11+](https://github.com/CrowdStrike/ansible_collection_falcon#ansible-version-compatibility).

You can see [here](https://github.com/ansible/ansible/pull/74530) that ansible never backported this change to 2.10 but they did for 2.9. If I recall, there was something about 2.10 that Ansible did not want to support.

[2022-11-17 17:57] ZacharyWallace commented on #268
Understood. Their choice to backport to 2.9 and not 2.10 is a strange one, but something I suppose I will need to reach out to them to understand.

Going to close this out and look at upgrading our ansible version, thank you for the assistance.

[2022-11-17 17:57] #268 closed

[2022-11-17 18:01] carlosmmatos opened #269 "Consider adding eBPF --backend options"
Falcon Configure should probably be cleaned up to remove unnecessary flags, and add the new --backend for bpf.